body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

.product {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  background: #2e86de;
  color: white;
  border: none;
  cursor: pointer;
}
