body {
  font-family: Arial;
  background: #f2f2f2;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px;
}

button {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.product {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
